
.card{
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(2,0,36);
    background: linear-gradient(34deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}
.card h1, h5{
    color: #ffff;
}
label,
input {
  /* In order to define widths */
  display: inline-block;
}

form {
    width: 100%;
    margin: 0 auto;
  }

label {
    width: 30%;
    /* Positions the label text beside the input */
    text-align: right;
  }

label+input {
    width: 30%;
    /* Large margin-right to force the next element to the new-line
             and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
  }
.form-text{
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #ffff;
    text-align: center;
}
.loginButton{
    margin: 10px;
    border: 20px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color:darkgoldenrod;
}

label{
    color: #ffff;
}