/* You can add global styles to this file, and also import other style files */
.text-center{
    text-align: center;
}
.text-danger{
    color: red;
    font-size: 15px;
    font-weight: 800;
}
.form-group{
    margin: 10px;
}