<div class="container">
    <div class="row">
        <div class="card">
            <div class="text-center">
                <h1>Register</h1>
                <h5>Join us</h5>
                <form>
                    <form [formGroup]= "signUpForm">
                        <div class="form-group">
                          <div id="rutHelp" class="form-text"> Enter your rut </div>
                          <label for="exampleInputRut1" class="form-label">Rut </label>
                          <input formControlName="rut" type="text" class="form-control" id="exampleInputRut1" aria-describedby="rutHelp">
                          <span class="text-danger" *ngIf="signUpForm.controls['rut'].dirty && signUpForm.hasError('required','rut')">Rut required</span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1" class="form-label">Password </label>
                          <input formControlName="pass1" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="text-danger" *ngIf="signUpForm.controls['pass1'].dirty && signUpForm.hasError('required','pass1')">Password required</span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label">Repeat password </label>
                            <input formControlName="pass2" type="password" class="form-control" id="exampleInputPassword1">
                            <span class="text-danger" *ngIf="signUpForm.controls['pass2'].dirty && signUpForm.hasError('required','pass2')">Password required</span>
                          </div>
                        <button (click)="signUp()" type="submit" class="loginButton">Register</button>
                      </form>
                      <a style="color: #ffff;" routerLink="/login">Back to login</a>
                </form>
            </div>
        </div>
    </div>
</div>